@import "../styles/common.scss";

body {
    line-height: 2;
    font-size: 16px;
    color: #000000;
    overflow-x: hidden;
    background: #fff;
    position: initial !important;
    font-family: "Roboto", sans-serif;
    margin: 0;
    //
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale

}

.header {

}

.main-container {
    margin-top: 100px;
}

.footer-wrapper {
    padding: 2%;
    margin: 2%;
}
#header {
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}