.home {
    img {
        width: 100%;
        // height: auto;
        display: inline-block;
        vertical-align: middle;
    }

    .carousel {
        img {
            width: 100%;
            // height: auto;
            display: inline-block;
            vertical-align: middle;
        }

        .carousel-cell {
            width: 100%;
            height: auto;
            margin-right: 10px;
            border-radius: 5px;
        }

    }

    .slider-container {
        padding: 0 0;
        margin-bottom: 40px;
    }

    @media (max-width: 1500px) {
        .flash-sale {
            margin: 0 auto;

            .col {
                padding: 0 15px 30px;
            }
        }
    }

    @media (min-width: 1500px) {
        .flash-sale {
            width: 80%;
            margin: 0 auto;

            .col {
                padding: 0 15px 30px;
            }
        }
    }
}

* {
    box-sizing: border-box;
}