@media (min-width: 1600px) {
    .container {
        max-width: 1240px;
    }
}

@media (min-width: 768px) {
    .container {
        padding: unset;
    }
}

.body {
    margin: 10%;

    a {
        color: black;
    }

    .bread-crumb {
        padding-top: 40px;
        background: #f8f8f8;
        padding: 12px 0 10px;

        .breadcrumb {
            text-align: center;
            font-family: "SVN-Gilroy";
            margin: 0;
            font-size: 20px;
            padding: 0px;
            border-radius: 0;
            font-weight: 400;
            line-height: 24px;
            background-color: transparent;
            width: 100%;
            text-align: left;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;

            li {
                display: inline;

            }

        }
    }

    .page_customer_account {
        padding: 20px 0;
        background: #f8f8f8;

        .col-left-ac {
            width: 290px;
            margin-right: 30px;
            background: #FFF;

            .block-account {
                height: 627px;

                .info-1 {
                    text-align: center;
                    padding: 30px 19px;

                    img {
                        display: block;
                        margin: 0 auto 20px;
                    }

                    p {
                        margin-bottom: 5px;
                    }

                    a {
                        display: block;
                        line-height: 24px;
                        background: #fcaf17;
                        color: #FFF;
                        border-radius: 12px;
                    }
                }
            }
        }

        .col-right-ac {
            background: #FFF;
            width: calc(100% - 320px);

            .title-head {
                color: #fcaf17;
                font-family: 'SVN-Gilroy Bold';
                font-size: 18px;
                border-bottom: 1px solid #DDE1EF;
                padding: 18px 65px;
                margin: 0;
                position: relative;

                button {
                    position: absolute;
                    right: 65px;
                    top: 10px;
                    background: #fcaf17;
                    color: #FFF;
                    border-radius: 4px;
                    height: 40px;
                    width: 10%;
                }
            }
        }
    }
}